@font-face {
  font-family: "Roboto-Light";
  src: url(/assets/font/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/assets/font/Roboto-Medium.ttf)
}


body {
    font-family: "Roboto-Light", sans-serif;
  }

  ul {
    list-style: none;
}