@font-face {
    font-family: 'Raleway-light';
    src: url(/assets/font/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(/assets/font/Raleway-Medium.ttf)
}

*{
    margin: 0%;
}

.header{
    display: flex;
    background-color: black;
    justify-content: center;
    font-family: 'Raleway-Medium';
    color: white;
    font-size: 3rem;
    margin: 0%;
    padding: 0%;
    height: 5.8%;
    width: 100%;

}

.main{
    display: flex;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    height:57%;
    width: 100%;

}

.main img{
    width: 100%;
}

.informacion{
display: flex;
background-color: black;
color: white;
justify-content: space-between;
width: 100%;
height: 27%;
gap: 100px;
}

.informacion article{
padding-top: 75px;
padding-bottom: 75px;
padding-left: 150px;
}

.informacion p{
    width: 70%;
    text-align: left;
    font-size: 1.4em;
    font-family: 'Raleway-Light';
   
   
}

.informacion img{
    width: 31%;
    height: 19%;
    padding-top: 45px;
    padding-bottom: 66px;
    padding-right: 150px;
}

.caracteristicas {
    background-color: #1E1A13 ;
    color: white;
    font-family: 'Raleway-Medium';
    text-align: center;
    width: 100%;
    height: 27%;
    gap: 40px;
}

.caracteristicas h2{
    font-size: 2.5rem;
    padding: 20px;
}

.flex{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.5rem;
}

.flex p{
    padding: 15px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    font-family: 'Raleway-Light';
    width: 100%;
    gap: 10px;
}
.box{
    width: 20%; 
}

.box img{
    width: 90%;
    height: 60%;
    padding-top: 73px;
    padding-bottom: 73px;
}

.footer{
    display: flex;
    background-color: #1E1A13;
    color: white;
    justify-content: center;
    font-family: 'Raleway-Light';
    font-size: 1.5rem;
    width: 100%;
    height: 8%;
    padding-top: 39px;
    padding-bottom: 39px;
}

.footer a{
    text-decoration: none;
}

