@font-face {
  font-family: "Roboto-Light";
  src: url(/assets/font/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/assets/font/Roboto-Medium.ttf)
}


body {
    font-family: "Roboto-Light", sans-serif;
  }

  ul {
    list-style: none;
}

img{
	max-width: 100%;
}
.gallery{
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 130%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 130%;
}

.textgallery{
  text-align: center;
}